# Django Settings
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.113,*

# Database (para produção)
# DATABASE_URL=postgresql://user:password@localhost:5432/maintenance_db

# Email Settings (para produção)
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=your-email@gmail.com
# EMAIL_HOST_PASSWORD=your-app-password
# EMAIL_USE_TLS=True

# CORS Settings
CORS_ALLOW_ALL_ORIGINS=True

# JWT Settings
ACCESS_TOKEN_LIFETIME_HOURS=1
REFRESH_TOKEN_LIFETIME_DAYS=7
